<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        
    </head>

    <body>
        <div class="main">
        {{>header}}
        
        <img class="portrait" src="Images/Image.png">
        </div>
        {{>Footer}}
    </body>
</html>