<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
        
    </head>
    <body>
        <div class="main">
        {{>header}}
        <p>
            {{helpmessage}}
        </p>
        </div>
        {{>Footer}}
    </body>
</html>