<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="css/style.css">
       
    </head>
    <body>
        <div class="main">
            {{>header}}
            <p>Use this site to get your Weather info </p>
            <form>
                <input placeholder="Address">
                <button>
                Search
                </button>
            </form>
            <p id = 'Forecast1'>

            </p>
            <p id="Forecast2">

            </p>
        </div>
        
        
        
        {{>Footer}}
    </body>
    <script src="/js/app.js"></script>
</html>